<div class="contact-page">
  <div class="contact-card">

    <h1>Contact Us 📞</h1>
    <p>Have any issue? Send us your message.</p>

    <form [formGroup]="contactForm" (ngSubmit)="submitContact()">

      <input type="text" placeholder="Full Name" formControlName="name">
      <div class="error" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
        Name is required
      </div>

      <input type="email" placeholder="Email Address" formControlName="email">
      <div class="error" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
        Enter valid email
      </div>

      <input type="text" placeholder="Mobile Number" formControlName="mobile">
      <div class="error" *ngIf="contactForm.get('mobile')?.touched && contactForm.get('mobile')?.invalid">
        Mobile is required
      </div>

      <textarea rows="5" placeholder="Your Message" formControlName="message"></textarea>
      <div class="error" *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
        Message is required
      </div>

      <button type="submit">Submit Message</button>

    </form>

  </div>
</div>
