<div class="categories-page">

  <div class="category-hero">
    <h1>Shop by Categories 🏷️</h1>
    <p>Choose your favorite grocery category.</p>
  </div>

  <div class="category-grid">

    <div
      class="category-card"
      *ngFor="let category of categories"
      (click)="openCategory(category.name)"
    >

      <div class="icon">
        {{ category.icon }}
      </div>

      <h3>{{ category.name }}</h3>

      <p>{{ category.items }} items available</p>

    </div>

  </div>

</div>
