<div class="tracking-page">

  <div class="tracking-card">

    <h1>Track Your Order 🚚</h1>
    <p>Your order is on the way.</p>

    <div class="map-box">
      🗺️
    </div>

    <div class="status-list">

      <div class="status">
        <div class="circle">✓</div>
        <div>
          <h3>Order Confirmed</h3>
          <p>Your order has been placed successfully.</p>
        </div>
      </div>

      <div class="status">
        <div class="circle">✓</div>
        <div>
          <h3>Packing Started</h3>
          <p>Your items are being packed.</p>
        </div>
      </div>

      <div class="status">
        <div class="circle">✓</div>
        <div>
          <h3>Out For Delivery</h3>
          <p>Delivery partner is coming to your location.</p>
        </div>
      </div>

    </div>

    <div class="rider-box">
      <h3>Delivery Partner</h3>
      <p><b>Name:</b> Rahul Kumar</p>
      <p><b>Mobile:</b> 9876543210</p>
      <p><b>Expected Time:</b> 10 minutes</p>
    </div>

    <button routerLink="/">
      Back to Home
    </button>

  </div>

</div>